

    *,
    *:after,
    *:before                                        { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
                                                      outline-width: 0; outline-style: none;
                                                      -webkit-touch-callout: none;
    }
    
    /* Farve på placeholderteksten */
    ::-webkit-input-placeholder                     { color: #85c1d4; }
    :-moz-placeholder                               { color: #85c1d4; }
    ::-moz-placeholder                              { color: #85c1d4; }
    :-ms-input-placeholder                          { color: #85c1d4; }
    
    /* Fjern pile på number-input */
    input[type='number']                            { -moz-appearance:textfield; }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button                { -webkit-appearance: none; }
    

    body                                            { margin: 0;
                                                      font-family: Arial, sans-serif;
    }
	#form_wrapper                                   { min-width: 620px; max-width: 1280px; height: 1024px;
        
                                                      text-align: center;
        
                                                      background: #77b8ce; 
                                                      background: -webkit-linear-gradient(top, #77b8ce 0%, #a8d6e3 50%);
                                                      background:    -moz-linear-gradient(top, #77b8ce 0%,  #a8d6e3 50%); 
                                                      background:     -ms-linear-gradient(top, #77b8ce 0%, #a8d6e3 50%);
                                                      background:      -o-linear-gradient(top, #77b8ce 0%, #a8d6e3 50%);
                                                      background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77b8ce), color-stop(50%, #a8d6e3));
                                                      background:         linear-gradient(to bottom, #77b8ce 0%, #a8d6e3 50%);
                                                      
                                                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b8ce', endColorstr='#a8d6e3',GradientType=0);
	}
    
    #backgroundimage_wrapper                        { background-image: url("../graphics/building.png"); background-position: center bottom; background-repeat: no-repeat;
                                                      width: 100%; height: 100%;
    }
    
    #top_banner                                     { -webkit-filter: drop-shadow(0px 2px 0px #65a3ba);
                                                              filter: drop-shadow(0px 2px 0px #65a3ba);
                                                      
                                                      width: 422px; height: 152px;
                                                      
                                                      margin-top: 40px;
    }
    
    #form                                           { background-color: rgba(113, 182, 208, 0.75);
                                                      width: 381px;
                                                      margin: 40px auto auto auto; padding: 30px 30px 20px 30px;
                                                      
                                                      border-radius: 4px;
                                                      
                                                      text-align: left; color: white;
    }
    
    #form input.text                                { width: 100%; height: 45px;
                                                      border: none;
                                                      border-radius: 4px;
                                                      padding: 0 10px; margin-bottom: 10px;
                                                      color: #85c1d4;
    }
    #form h2                                        { margin: 0; }
